<link rel="stylesheet" href="ContactsDetails.scss" />

<form id="form" method="dialog">
  <input type="hidden" name="id" id="id">
  <label id="firstNameSection">
    First name:
    <input id="firstName" name="firstName">
  </label>
  <label id="lastNameSection">
    Last name:
    <input id="lastName" name="lastName">
  </label>
  <label id="emailSection">
    E-mail:
    <input id="email" type="email" name="email">
  </label>
  <label id="dateOfBirthSection">
    Date of birth:
    <input id="dateOfBirth" type="date" name="dateOfBirth">
  </label>
  <button>
    Save
  </button>
</form>
