<!DOCTYPE html>
<html lang="<%= meta.lang %>">
<head>
    <meta charset="utf-8">
    <title><%= meta.title %></title>
</head>
<body>
    <h1><%= meta.title %></h1>
    <script type="module" src="client.js"></script>
</body>
</html>
