<!DOCTYPE html>
<html lang="<%= state.meta.lang %>">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= state.meta.title %></title>
</head>
<body>
  <contacts-app state="<%= JSON.stringify(state) %>"></contacts-app>
</body>
</html>
